@import "../../../../styles/positions";
@import "../../../../styles/colors";

$cards-background-color: $secondary-color;
$separations-color: #dbdadb;
$cards-padding: 12px;

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding: $app-border-padding;
  box-sizing: border-box;

  background: url('../../../../../assets/background.png') center;

  
}

.title-card {
  border-bottom: 1px solid $separations-color;
}

.card-container{
  background-color: $cards-background-color;
  padding: $cards-padding;
  display: flex;
  flex-direction: column;
  
  &:last-child {
    flex-grow: 1;
  }
}

.next-hours-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 165px;

  .hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    font-size: medium;

    .humidity {
      color: rgba(102,197,225,255);
    }

    .time {
      color: $third-color;
    }

    &:not(:last-child) {
      border-right: 1px solid $separations-color;
    }
  }
}

.next-days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  .day-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 60px;
    align-items: center;
    font-size: medium;

    .description-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .time {
        font-size: large;
      }
      .description {
        color: $third-color;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $separations-color;
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-spinner {
    margin: auto;
  }
}