<header>
  <h2 class="title">Simple Weather</h2>

  <input [formControl]="searchFormCtrl"
    *ngIf="isSearchOpen">

  <button class="search" mat-icon-button
    (click)="onToggleSearch()">
    <mat-icon>search</mat-icon>
  </button>
</header>

<mat-tab-group dynamicHeight="true"
  (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab *ngFor="let city of cities; index as i;"
    [label]="city.name">
    <app-city-forecast
      [cityId]="selectedCityId">
    </app-city-forecast>
  </mat-tab>
</mat-tab-group>

<footer>
  <span>Last Updated On {{ now | date: 'medium' }}</span>
</footer>